

#titulo{
	color:#83FF23;
}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #83FF23;
}

.navbar{

margin-bottom: 0;

}

.jumbotron .titulo{
	font-size: 3em;
	color: #83FF23;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}


/* -- header -- */

.bg-1{ 
       background-color: rgb(92,184,92); /* Green */
        color: #ffffff;
        
    }

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
   
}    



/* -- fin header -- */

/* -- POST -- */

.main {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #FFFFFF;
}

.post {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid;
}

.post .post-title a{
	color: black;

}

.post .thumb {
	margin-right: 10px;
	width: 40%;

}


.post .thumb img{
	width: 100%;
}


/* -- CONTACTO -- */

.titulo_form {

	margin: 50px 0;
	text-align: center;

}

.container_form{

	margin-top: : 50px ;
	margin-bottom: 150px ;

}

/*-- footer --*/

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

/*--  fin footer --*/


/* -- FIN CONTACTO -- */

/*--TIENDA--*/

.carro{
	margin: 20px 10px;
	height: 50px;
}

.caja{
	margin: 10px 10px;
}

/*--FIN DE TIENDA*/


/* -- IMAGEN CATALOGO --*/

.img-thumbnail{

	width: 300px;
	

}

/* -- FIN IMAGEN CATALOGO --*/




