<br><br><br>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<img src="{{producto.img}}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
		<br><br>
    <p class="text-success" ng-show="actualizado">¡¡¡¡ Registro Actualizado !!!!</p>
	</div>
	<div class="col-md-6">
		<form ng-submit="guardar()"> 
        <div ng-hide="creando">
           <div class="form-group">
          <label>ID</label>
           <input type="text" class="form-control" ng-model="producto.id" readonly="readonly">
            </div>
        </div>
          <div class="form-group">
            <label>MARCA</label>
            <input type="text" class="form-control" ng-model="producto.nombre">
          </div>
          <div class="form-group">
            <label>MODELO</label>
            <input type="text" class="form-control" ng-model="producto.modelo">
          </div>
          <div class="form-group">
            <label>DESCRIPCION</label>
            <textarea class="form-control" rows="3" ng-model="producto.descripcion"></textarea>
          </div>
          <div class="form-group">
            <label>PRECIO</label>
            <input type="text" class="form-control" ng-model="producto.precio">
          </div>
          <div class="form-group">
            <label>IMAGEN</label>
            <input type="text" class="form-control" ng-model="producto.img">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">IMAGEN</label>
            <input type="file" id="exampleInputFile" uploader-model="file">
            <p class="help-block">Example block-level help text here.</p>
          </div>
          <button type="submit" class="btn btn-success">Save changes</button>
          <button type="button" class="btn btn-danger">Delete</button>
      </form>
	</div>
	<div class="col-md-2"></div>
</div>
<br><br>

	
